<mat-toolbar color="accent">
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
        <mat-icon>home</mat-icon>
    </a>
    <h5>Plan My Trip</h5>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-button aria-label="Button that displays a tooltip when focused or hovered over">
  Login
    </a>
    <a [routerLink]="'/signup'" mat-button aria-label="Button that displays a tooltip when focused or hovered over">
  Register
    </a>

</mat-toolbar>