<mat-toolbar color="accent">
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
        <mat-icon>home</mat-icon>
    </a>
    <h5>Plan My Trip</h5>
    <span class="example-spacer"></span>
    <a *ngIf="!loggedIn" [routerLink]="'/login'" mat-button>
  Login
    </a>
    <a *ngIf="!loggedIn" [routerLink]="'/signup'" mat-button>
  Register {{loggedIn}}
    </a>
    <a *ngIf="loggedIn" [routerLink]="url" mat-button>
      {{login.getUser().username}}
        </a>
    <a (click)="logout()" *ngIf="loggedIn" [routerLink]="'/login'" mat-button>
          logout
            </a>

</mat-toolbar>