<mat-card>
    <h1>Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container text-center">
                <img class="profile-image" src="https://preview.redd.it/5v6c5iffgxh91.png?width=553&format=png&auto=webp&s=73dae80c3b90d87ff08a409dd88711c4e9f935f3" alt="">
                <h1 class="mt20">{{login.getUser().name}}</h1>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <table class="text-center table">
                        <tr>
                            <td>Username:</td>
                            <td>{{login.getUser().username}}</td>
                        </tr>
                        <tr>
                            <td>Email Id:</td>
                            <td>{{login.getUser().emailId}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{login.getUser().phone}}</td>
                        </tr>
                        <tr>
                            <td>Role:</td>
                            <td>{{login.getUser().role}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
    </mat-card-actions>
</mat-card>