<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>



                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input [(ngModel)]="user.name" name="name" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Id </mat-label>
                            <input [(ngModel)]="user.emailId" name="emailId" type="email" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input [(ngModel)]="user.phone" name="phone" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label> Profile Image</mat-label>
                            <input [(ngModel)]="user.profilepic" name="profilepic" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <!-- <mat-form-field>
                            <input type="file" name="file" id="">
                        </mat-form-field> -->

                        <div class="container" style="text-align: center;">
                            <button mat-raised-button color="primary">Update</button>



                        </div>
                    </form>

                </mat-card>

            </div>
        </div>
    </div>
</div>