<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img class="profile-image text-center" src="https://planyourtrip173347275.files.wordpress.com/2019/05/logo-1.png?w=599" alt="Logo">


                    </div>

                    <h1 class="text-center">Register Here!!!!</h1>
                    <!-- {{user|json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input [formControl]="username" type="text" [(ngModel)]="user.name" name="name" matInput placeholder="Enter here" required>



                        </mat-form-field>
                        <div *ngIf="username.invalid">
                            <mat-error *ngIf="username.hasError('pattern')">

                                <mat-icon>warning</mat-icon> Name must contain only Alphabets

                            </mat-error>
                        </div>






                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Id</mat-label>
                            <input [formControl]="useremail" type="text" [(ngModel)]="user.emailId" name="emailId" type="email" matInput placeholder="Enter here" required>

                        </mat-form-field>
                        <div *ngIf="useremail.invalid">
                            <mat-error *ngIf="useremail.hasError('email')">

                                <mat-icon>warning</mat-icon> Must be valid Email Id

                            </mat-error>
                        </div>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input [formControl]="userphone" [(ngModel)]="user.phone" type="text" name="phone" matInput placeholder="Enter here" required>

                        </mat-form-field>

                        <div *ngIf="userphone.invalid">
                            <mat-error *ngIf="userphone.hasError('pattern')">

                                <mat-icon>warning</mat-icon> Phone number must contain only numbers

                            </mat-error>
                            <mat-error *ngIf="userphone.hasError('minlength')">

                                <mat-icon>warning</mat-icon> Phone number must contain atleast 10 digits

                            </mat-error>
                            <mat-error *ngIf="userphone.hasError('maxlength')">

                                <mat-icon>warning</mat-icon> Phone number must contain atmost 10 digits

                            </mat-error>
                        </div>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [formControl]="userpassword" [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter here" required>

                        </mat-form-field>
                        <div *ngIf="userpassword.invalid">
                            <mat-error *ngIf="userpassword.hasError('minlength')">

                                <mat-icon>warning</mat-icon> Password Must contain atleast 8 Characters

                            </mat-error>
                        </div>
                        <div class="container" *ngIf="!username.invalid && !userphone.invalid&& !useremail.invalid && !userpassword.invalid" style="text-align: center;">
                            <button mat-raised-button color="primary">Sign Up</button>


                        </div>
                    </form>
                    <div *ngIf="loading| async">
                        <h6 class="">Please wait while we Setup your Account</h6>
                    </div>
                </mat-card>
                <div *ngIf="loading| async">
                    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>