<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img class="profile-image text-center" src="https://planyourtrip173347275.files.wordpress.com/2019/05/logo-1.png?w=599" alt="Logo">
                        <!-- <img class="profile-image text-center" [src]="imagesrc" alt="Logo"> -->

                    </div>

                    <h1 class="text-center">Register Here!!!!</h1>
                    <!-- {{user|json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input [(ngModel)]="user.name" name="name" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Id</mat-label>
                            <input [(ngModel)]="user.emailId" name="emailId" type="email" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input [(ngModel)]="user.phone" name="phone" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div class="container" style="text-align: center;">
                            <button mat-raised-button class="button_spacing" color="primary">Submit</button>
                            <button mat-raised-button class="button_spacing" color="primary">Reset</button>


                        </div>
                    </form>
                    <div *ngIf="loading| async">
                        <h6 class="">Please wait while we Setup your Account</h6>
                    </div>
                </mat-card>
                <div *ngIf="loading| async">
                    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>