<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-9  ">
                <mat-card>

                    <h1 class="text-center">Add Package</h1>
                    <!-- {{category|json}} -->
                    <form (ngSubmit)="packageFormSubmit()">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Title</mat-label>
                            <input [formControl]="ptilte" [(ngModel)]="package.ptilte" name="ptilte" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div *ngIf="ptilte.invalid&& ptilte.touched">
                            <mat-error *ngIf="ptilte.hasError('required')">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>
                        </div>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <input [formControl]="pdescription" [(ngModel)]="package.pdescription" name="pdescription" type="text" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div *ngIf="pdescription.invalid&& pdescription.touched">
                            <mat-error *ngIf="pdescription.hasError('required')">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>
                        </div>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Image Url</mat-label>
                            <input [formControl]="pimage" [(ngModel)]="package.pimage" name="pimage" type="text" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div *ngIf="pimage.invalid&& pimage.touched">
                            <mat-error *ngIf="pimage.hasError('required')">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>
                        </div>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Price</mat-label>
                            <input [formControl]="pprice" [(ngModel)]="package.pprice" name="pprice" type="text" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div *ngIf="pprice.invalid&& pprice.touched">
                            <mat-error *ngIf="pprice.hasError('required')">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>
                            <mat-error *ngIf="pprice.hasError('pattern')">

                                <mat-icon>warning</mat-icon>Price must only numbers

                            </mat-error>
                        </div>

                        <mat-form-field appearance="fill">
                            <mat-label>Choose category</mat-label>
                            <mat-select name="category" [(ngModel)]="package.category.cid">
                                <!-- <mat-option>Clear</mat-option> -->
                                <mat-option (click)="toggleSubmit()" [formControl]="cid" *ngFor="let c of category" [value]="c.cid">{{c.ctitle}}</mat-option>
                            </mat-select>



                        </mat-form-field>
                        <div *ngIf="cid.invalid&& cid.touched">
                            <mat-error *ngIf="pprice.hasError('required')">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>

                        </div>

                        <div class="container" *ngIf="toggleSubmitb && !pprice.invalid&& !pimage.invalid && !pdescription.invalid && !ptilte.invalid" style="text-align: center;">
                            <button mat-raised-button class="button_spacing" color="primary">Add</button>


                        </div>
                    </form>
                    <!-- {{package|json}} -->
                </mat-card>
            </div>
        </div>
    </div>
</div>