<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-9  ">
                <mat-card>

                    <h1 class="text-center">Add Category</h1>
                    <!-- {{category|json}} -->
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input [(ngModel)]="category.ctitle" [formControl]="ctitle" name="ctitle" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div *ngIf="ctitle.invalid && ctitle.touched">
                            <mat-error *ngIf="ctitle.hasError('required')">

                                <mat-icon>warning</mat-icon> Required

                            </mat-error>
                        </div>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <input [(ngModel)]="category.cdescription" [formControl]="cdescription" name="cdescription" type="text" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div *ngIf="cdescription.invalid && cdescription.touched">
                            <mat-error *ngIf="cdescription.hasError('required')">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>
                        </div>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Image Url</mat-label>
                            <input [(ngModel)]="category.cimage" [formControl]="cimage" name="cimage" type="text" matInput placeholder="Enter here" required>
                        </mat-form-field>

                        <div *ngIf="cimage.invalid">
                            <mat-error *ngIf="cimage.hasError('required')&& cimage.touched">

                                <mat-icon>warning</mat-icon>Required

                            </mat-error>
                        </div>

                        <div class="container" *ngIf="!cimage.invalid && !cdescription.invalid&& !ctitle.invalid" style="text-align: center;">
                            <button mat-raised-button color="primary">Submit</button>


                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>